// _about.scss
.About {
  h1 {
    text-align: left;
  }

  p {
    text-align: left;
    display: block;
  }

  .grid-meet-rose {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }

  .about-image-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    .about-image {
      display: block;
      border-radius: $border-radius;
      height: 450px;
      margin: 20px;
    }
  }

  @include respond-to(mobile) {
    .grid-meet-rose {
      grid-template-columns: 1fr;
    }
    .about-image-container {
      height: 300px;
    }
  }
}
