// _approach.scss

@import "./variables";
@import "./mixins";

.call-to-action {
  margin: 0.6em auto;
}

.journey-link {
  display: block;
  margin: $center-margin;
}

.approach-text {
  padding: 20px;
  text-align: left;
}

// Responsive styles for mobile screens
@include respond-to(mobile) {
  .work-cards {
    margin: 0px 20px;
  }
}
