//_blog-content.scss

@import "./variables";
@import "./mixins";

/* --------------------- Article ---------------------*/

article .blog-article {
  text-align: left;

  padding-bottom: 1.25em;

  @include respond-to(mobile) {
    margin: 0.13em;
  }
}

.article-header {
  margin: 3em 0 1.5em 0;
  h4,
  h1,
  p {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }

  h1 {
    margin-top: 0;
  }

  .article-summary {
    opacity: 0.5;
    font-weight: 700;
  }
}

.article-cover-container {
  width: 100%;
  height: 25em;
  border-radius: 1.25em;
  overflow: hidden;
  position: relative;

  @include respond-to(mobile) {
    height: 18.75em;
  }
}

.blog-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.25em;
}

.overlay-row {
  position: absolute;
  bottom: 1.25em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.88em;
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    margin: 0;
    color: white;
  }
}

.copied-message {
  color: white;
  font-size: 0.88em;
  margin-bottom: 0.63em;
}

.copy-button {
  padding: 0.63em 1.25em;
  font-size: 1em;
  border-radius: 0.31em;
  background-color: transparent;
  font-family: "Jost", sans-serif;
  color: white;
  border: 0.06em solid #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
    color: black;
  }

  @include respond-to(mobile) {
    display: none;
  }
}

.article-intro {
  margin-top: 1.25em;
  padding-top: 1.25em;
  border-top: 0.13em solid black;
  display: grid;
  grid-template-columns: 0.7fr 2fr;

  @include respond-to(mobile) {
    grid-template-columns: 1fr;
  }
}

.contents {
  position: relative;
}

.arrow-nav {
  height: 1.25em;
  position: absolute;
  right: 0.63em;
  top: 50%;
  transform: translateY(-50%);
}

.contents ul {
  list-style: none;
  padding: 0;
  margin-right: 1.88em;
}

.contents li {
  border-bottom: 0.13em solid black;
  padding: 0.63em;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.94em;
  line-height: 1.56em;
  letter-spacing: 0.02em;
  position: relative;

  &:hover {
    cursor: pointer;
    padding-left: 2.5em;
  }

  &:hover::before {
    content: "";
    position: absolute;
    left: 0.63em;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25em;
    height: 1.25em;
    background-image: url("../../styles/imgs/icons/star.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.article-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 1.25em;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.94em;
    line-height: 1.56em;
    letter-spacing: 0.02em;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1.25em;
      height: 1.25em;
      background-image: url("../../styles/imgs/icons/star.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    p {
      margin: 0;

      &:first-of-type {
        font-weight: 700;
      }
    }
  }
}

.article-subheading {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.56em;
  letter-spacing: 0.02em;
}

.article-section {
  margin-top: 3.13em;
}

.blog-article a {
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

.article-highlight {
  color: #862b0e;
  border-left: 0.13em solid #862b0e;
  padding-left: 1.25em;
  margin: 1.25em;
}

.featured-image-container {
  width: 100%;
  height: 25em;
  margin: 0 auto;
  display: block;
  border-radius: 1.25em;
  overflow: hidden;
  position: relative;

  @include respond-to(mobile) {
    height: 12.5em;
  }
}

.blog-feature-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.25em;
}

.image-caption {
  font-weight: 400;
  opacity: 0.5;
  color: black;
  margin: 0.63em;

  a {
    color: black;
  }
}

.blog-bottom-buttons {
  border-top: 0.13em solid rgba(0, 0, 0, 0.7);
  margin-top: 1em;
  padding-top: 0.5em;
}

/* --------------------- Video ---------------------*/

.CaptionsModal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.1em;
  z-index: 9999;
  text-transform: none;

  .modal-container {
    background-color: $quaternary-color;
    padding: 2em 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow-y: auto;
    width: 80%;
    max-width: 37em;
    margin: 1em auto;
  }
  ul {
    list-style: none;
    padding-right: 1.25em;
  }

  ul li {
    position: relative;
    padding-left: 1.5625em;
    margin-top: 1em;
    font-family: $font-primary;
    line-height: 1.5em;
    font-size: 1rem;
    color: black;
    letter-spacing: 0.02em;

    @include respond-to(mobile) {
      padding-left: 1.25em;
    }
  }

  ul li::before {
    content: "";
    position: absolute;
    left: 0.25em;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    height: 1em;

    background: url("../imgs/icons/star.svg") no-repeat center;
    background-size: cover;
  }

  .exit-container {
    display: flex;
    align-items: center;
  }

  .close {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;

    .exit-icon {
      width: 1.5em;
      height: auto;
    }
  }
}
