// _buttons.scss

.button-center {
  display: block;
  margin: 1em auto;
}
.general-button {
  padding: 0.3125em 2.1875em;
  border-radius: $small-radius;
  font-family: $font-primary;
  font-size: 1.25em;
  text-transform: uppercase;
  background-color: transparent;
  border: 0.125em solid black;
  transition: color 0.5s, background-color 0.3s;
  display: block;
  color: black;

  &:hover {
    color: $secondary-color;
    background-color: black;
  }

  @include respond-to(mobile) {
    font-size: 1em;
  }

  @include respond-to(medium) {
    font-size: 1em;
  }
}

button:hover {
  cursor: pointer;
}

.button-wide {
  width: 100%;
}

.desktop-button {
  display: block;
  @include respond-to(mobile) {
    display: none;
  }
}

.mobile-button {
  display: none;
  @include respond-to(mobile) {
    display: block;
    margin: 1em 0 1em 0;
  }
}

.book-button {
  padding: 0.3125em 2.1875em;
  display: block;
  width: 100%;
  margin-top: 1em;
  border-radius: $small-radius;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.25em;
  color: white;
  background-color: #356d65;
  border: 0.125em solid #356d65;
  transition: color 0.5s, background-color 0.3s, border 0.3s;

  @include respond-to(mobile) {
    padding: 0.5em 1.5em;
    font-size: 1em;
  }

  @include respond-to(medium) {
    padding: 0.4em 2em;
  }
}

.book-button:hover {
  color: white;
  background-color: black;
  border: 0.125em solid black;
}
