@import "./variables";
@import "./mixins";

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

@import "./variables";
@import "./mixins";

.yoga-image-container {
  position: relative;
  width: 11.25em;

  @include respond-to(mobile) {
    width: 100%;
  }

  @include respond-to(medium) {
    width: 15em;
  }
}

.yoga-image {
  width: 11.25em;
  margin: 0 auto;
}

.class-details {
  margin: 0;
}

.img-hover {
  transition: transform 0.3s ease;
}

.img-hover:hover {
  transform: scale(1.05);
}

.overlay-svg {
  height: 5em;
}

.overlay-svg2 {
  height: 2.1875em;
}

.section-heading {
  text-align: center;
}

.hr-lines:before {
  content: " ";
  display: block;
  height: 0.06em;
  width: 8.125em;
  position: absolute;
  top: 50%;
  left: 0;
  background: black;
  @include respond-to(mobile) {
    width: 2em;
  }

  @include respond-to(medium) {
    width: 5em;
  }
}

.hr-lines {
  position: relative;
  max-width: 31.25em;
  margin: 2em auto;
  text-align: center;

  @include respond-to(mobile) {
    margin: 1em auto;
  }

  @include respond-to(medium) {
    margin: 1em auto;
  }

  &:after {
    content: " ";
    height: 0.06em;
    width: 8.125em;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    @include respond-to(mobile) {
      width: 2em;
    }

    @include respond-to(medium) {
      width: 7em;
    }
  }
}

.general-button {
  margin: 1em 0em;
}

/* ---------------------Retreats---------------------*/

.retreat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25em;
}

.retreats {
  margin-bottom: 1.25em;

  @include respond-to(mobile) {
    text-align: center;
  }

  @include respond-to(medium) {
    text-align: left;
  }
}

.retreat-img-container {
  position: relative;
  width: 36.875em; // 590px
  height: 26.875em; // 430px

  @include respond-to(mobile) {
    width: 100%; // Full width on mobile
    height: auto;
  }

  @include respond-to(medium) {
    width: 30em;
  }
}

.retreat-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
  border-radius: 7.9375em; // 127px

  @include respond-to(mobile) {
    border-radius: 3.5625em; // Adjust for mobile
  }

  @include respond-to(medium) {
    // Medium screen styles if needed
    border-radius: 5em; // Example adjustment for medium screens
  }
}

.book-btn {
  width: 80%;
  margin-top: 1.25em; // 20px

  @include respond-to(mobile) {
    margin-top: 1em; // Adjust for mobile
  }
}

.book-btn-two {
  width: 80%;
  margin-top: 2.8125em; // 45px

  @include respond-to(mobile) {
    margin-top: 1.25em; // Adjust for mobile
  }

  @include respond-to(medium) {
    margin-top: 2em;
  }
}

.retreat-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #356d65;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 6.25em; // 100px
  box-sizing: border-box;
  border-radius: 7.9375em; // 127px

  @include respond-to(mobile) {
    padding: 3.125em; // Adjust for mobile
    border-radius: 3.5625em; // Adjust for mobile
  }

  @include respond-to(medium) {
    // Medium screen styles if needed
    padding: 4em; // Example padding for medium screens
    border-radius: 5em; // Example adjustment for medium screens
  }
}

.retreat-img-container:hover .retreat-overlay {
  opacity: 1;
}

.retreat-overlay h3,
.retreat-overlay h2,
.retreat-overlay p,
.retreat-overlay span {
  margin: 0.3125em 0; // 5px
  color: white;
}

.retreat-overlay span {
  display: flex;
  align-items: center;
}

.retreat-overlay span img {
  margin-right: 0.3125em; // 5px
}

.retreat-info-mobile {
  display: none;

  @include respond-to(mobile) {
    display: block; // Show on mobile
  }
}

/* --------------------- In-Person Sessions ---------------------*/

.in-person-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25em;
}

.in-person-sessions {
  margin-bottom: 1.25em;
}

.in-person-img-container {
  position: relative;
  width: 100%;
  height: 26.875em;

  @include respond-to(mobile) {
    height: auto;
  }

  @include respond-to(medium) {
    height: 30em;
  }
}

.in-person-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
  border-radius: 1.4375em;

  @include respond-to(mobile) {
    border-radius: 1.25em;
  }

  @include respond-to(medium) {
    border-radius: 1.5em;
  }
}

.in-person-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #356d65;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 6.25em;
  box-sizing: border-box;
  border-radius: 1.4375em;

  @include respond-to(mobile) {
    padding: 3.125em;
    border-radius: 1.25em;
  }

  @include respond-to(medium) {
    padding: 4em;
    border-radius: 1.5em;
  }
}

.in-person-img-container:hover .in-person-overlay {
  opacity: 1;
}

.in-person-overlay h3,
.in-person-overlay h2,
.in-person-overlay p,
.in-person-overlay span {
  margin: 0.625em 0;
  color: white;
}

.in-person-overlay span {
  display: flex;
  align-items: center;
}

.in-person-overlay span img {
  margin-right: 0.3125em;
}

.in-person-overlay .overlay-svg,
.in-person-overlay .overlay-svg2 {
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.3125em;
}

.in-person-info-mobile {
  display: none;

  @include respond-to(mobile) {
    display: block;
  }
}

/* --------------------- Online Groups  ---------------------*/

//Slides

.ClassSlide {
  padding: 1.25em;
  margin: 0 6.25em;

  @include respond-to(mobile) {
    padding: 1em;
    margin: 0 1.25em;
  }

  @include respond-to(medium) {
    padding: 1.5em;
    margin: 0 4em;
  }
}

.class-header {
  display: flex;
  align-items: center;

  h2 {
    font-family: $font-primary;
    font-size: 1.5em;
    text-transform: uppercase;

    @include respond-to(mobile) {
      margin: 0;
    }
  }

  @include respond-to(mobile) {
    flex-direction: column;
    align-items: center;
  }

  @include respond-to(medium) {
    flex-direction: row;
  }

  h1 {
    text-transform: uppercase;

    @include respond-to(mobile) {
      text-align: center;
      font-size: 1.25em;
    }

    @include respond-to(medium) {
      font-size: 1.5em;
    }
  }
}

.class-icon {
  width: 3.125em;
  height: 3.125em;
  margin-right: 0.625em;

  @include respond-to(mobile) {
    margin-right: 0;
    margin-bottom: 0.625em;
  }

  @include respond-to(medium) {
    margin-right: 1em;
  }
}

.class-description {
  text-align: left;
}

.class-bottom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25em;
  margin-top: 1.25em;

  @include respond-to(mobile) {
    grid-template-columns: 1fr;
  }

  @include respond-to(medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.details-table {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond-to(mobile) {
    grid-template-columns: 1fr;
  }

  @include respond-to(medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.dates-column,
.time-column {
  margin-bottom: 0.05em;

  h3 {
    font-size: 1.2em;

    @include respond-to(mobile) {
      margin: 0;
    }
    @include respond-to(medium) {
      margin: 0;
    }
  }

  @include respond-to(medium) {
    margin-bottom: 0.9375em;
  }
}

.details-table li {
  padding: 0.625em;
  border-bottom: 1px solid black;
}

.details-table p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.prices {
  border: 1px solid black;
  padding: 0.625em 1.25em;
  text-align: left;
  margin: 1.875em;

  @include respond-to(mobile) {
    margin: 1em;
  }

  @include respond-to(medium) {
    margin: 1.5em;
  }
}

.prices h3 {
  margin: 0.125em;
  font-size: 1.2em;

  @include respond-to(medium) {
    margin: 0.25em;
  }
}

.membership {
  display: block;
}

.membership-price {
  margin-top: 1.25em;
}

.membership h3 {
  font-size: 0.9375em;
}

.price-grid ul {
  list-style: none;
  padding-right: 1.25em;
}

.price-grid ul li {
  position: relative;
  padding-left: 1.5625em;

  @include respond-to(mobile) {
    padding-left: 1.25em;
  }
}

.price-grid ul li::before {
  content: "";
  position: absolute;
  left: 0.25em;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;

  background: url("../imgs/icons/star.svg") no-repeat center;
  background-size: cover;
}

.swiper-pagination-bullet {
  opacity: 1;
  border: none;
  padding: 0em;
  margin: 0 auto;
}

.mySwiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.custom-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0.625em;
  left: 0;
  right: 0;
  margin-bottom: 1.25em;
  z-index: 10;
  padding: 1.25em 0em;
  pointer-events: none;
  border-bottom: 1px solid black;
  border-top: 1px solid black;

  @include respond-to(mobile) {
    padding: 0.5em 0em;
    margin-bottom: 0em;
  }

  @include respond-to(medium) {
    padding: 0.5em 0em;
    margin-bottom: 0;
  }
}

.custom-bullet {
  cursor: pointer;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  padding: 1.875em 0.625em;
  padding-bottom: 2.5em;
  border-radius: 0.3125em;
  transition: all 0.3s ease;
  pointer-events: all;
  color: black !important;
  text-align: center;
  background: transparent;

  @include respond-to(mobile) {
    padding: 2em 0.625em 3.5em 0.625em;
    font-size: 0.5em;
  }

  @include respond-to(medium) {
    padding: 2.5em 0.625em 4em 0.625em;
    font-size: 1em;
  }
}

.custom-bullet:hover {
  background: transparent;
}

.swiper-pagination-bullet-active.custom-bullet {
  border: 0.125em solid #000;
}
