// _home.scss
.Home {
  text-align: center;

  .home-header {
    margin: 0 auto;

    h3 {
      opacity: 70%;
      margin: 0;
      font-size: 20px;
    }
  }

  .hero-image-container {
    background-size: cover;
    background-position: center;
    height: 450px;
    padding-left: 350px;
    margin: 10px 350px;
    border-radius: $border-radius;

    @include respond-to(mobile) {
      height: 350px;
      margin: 10px;
    }
  }

  .mobile-journey-container {
    display: none;
    background-image: url("../imgs/permanent/mobile-symbols.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
    margin-top: 2em;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
    @include respond-to(mobile) {
      display: block;
    }
  }

  .blog-home {
    display: none;
    .col-md-6 {
      width: 90vw;
      margin-bottom: 20px;
    }
    @include respond-to(mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
  }
}
