// _images.scss

.img-responsive {
  max-width: 100%;
  border-radius: var(--image-border-radius);
}

.blurry {
  filter: blur(10px);
}

.loaded {
  filter: blur(0);
}

.blurry-image-container {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s ease;
  }

  &.loading img {
    filter: blur(10px);
  }

  &.loaded img {
    filter: blur(0);
  }
}

.icon {
  width: 2em;
  height: 100%;
}
