// _layouts.scss

.container {
  margin: 0em 12em;
  padding: 0 2%;
  min-height: 100vh;

  @include respond-to(mobile) {
    margin: 0 10px;
    padding: 0;
  }
}

.grid-2-columns {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-4-columns {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-5-columns {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 768px) {
  .grid-2-columns,
  .grid-3-columns,
  .grid-4-columns,
  .grid-5-columns {
    grid-template-columns: 1fr; // For mobile responsiveness
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  z-index: 900;

  @include respond-to(mobile) {
    padding-top: 56.25%;
    margin: 10px;
    border-radius: 0;

    iframe {
      border-radius: 0;
      z-index: 999;
    }
  }
}

.text {
  text-align: left;
  margin: 5px;
  display: block;
}

.quote {
  color: #862b0d;
  padding: 20px 30px;
}

.grid-button-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  width: 100%;
  text-align: center;

  // Media query for mobile responsiveness
  @include respond-to(mobile) {
    gap: 20px;
    grid-template-columns: 1fr;
  }

  // Ensure the buttons inside the grid take full width of the grid column
  .general-button {
    width: 70%;
  }
}


