//_layouts.scss

.container {
  padding: 0 15%;

  flex-grow: 1;

  @include respond-to(mobile) {
    padding: 0;
  }

  @include respond-to(medium) {
  }
}

.grid-2-columns {
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-4-columns {
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-5-columns {
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 768px) {
  .grid-2-columns,
  .grid-3-columns,
  .grid-4-columns,
  .grid-5-columns {
    grid-template-columns: 1fr;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  z-index: 900;

  @include respond-to(mobile) {
    padding-top: 56.25%;
    margin: 0.625em;
    border-radius: 0;

    iframe {
      border-radius: 0;
      z-index: 999;
    }
  }
}

.text {
  text-align: left;
  margin: 0.3125em;
  display: block;
}

.quote {
  color: #862b0d;
  padding: 1.25em 1.875em;
}

.grid-button-container {
  margin-top: 1.875em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  width: 100%;
  text-align: center;

  @include respond-to(mobile) {
    gap: 1.25em;
    grid-template-columns: 1fr;
  }

  .general-button {
    width: 70%;
  }
}

.cards {
  margin-bottom: 1.25em;
  text-align: center;
  h2 {
    margin: 0.2em;
  }
  h4 {
    text-align: center;
    font-size: 1em;
  }

  .card .group-image-container:hover {
    transform: scale(1.03);
  }
  .card-links {
    text-decoration: none;
    color: black;
  }

  .card-image-container {
    position: relative;
    overflow: hidden;
    z-index: 100;
  }
  .card-image-container img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: block;
    border-radius: $border-radius;
  }

  @include respond-to(mobile) {
    margin: 0 1.25em;

    .card h2 {
      text-align: center;
      margin: 0.1em;
    }
  }
}
