// _layouts.scss

.container {
  text-align: center;
  margin: 50px 200px 0px 250px;
  padding: 0 2%;

  @include respond-to(mobile) {
    margin: 0 10px;
    padding: 0;
  }
}

.grid {
  display: grid;
  grid-gap: 20px;

  &.grid-2-columns,
  &.grid-3-columns,
  &.grid-4-columns,
  &.grid-5-columns {
    grid-template-columns: repeat(2, 1fr); // Default for larger screens

    @include respond-to(mobile) {
      grid-template-columns: 1fr; // For mobile
    }
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  z-index: 900;

  @include respond-to(mobile) {
    padding-top: 56.25%;
    margin: 10px;
    border-radius: 0;

    iframe {
      border-radius: 0;
      z-index: 999;
    }
  }
}

.text {
  text-align: left;
  margin: 5px;
  display: block;
}

.quote {
  color: #862b0d;
  padding: 20px 30px;
}

.grid-button-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  width: 100%;

  @include respond-to(mobile) {
    margin-left: 10px;
    gap: 20px;
    grid-template-columns: 1fr;
  }
}
