// _typography.scss

@import url("https://fonts.googleapis.com/css2?family=Jomolhari&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://use.typekit.net/kli2wwi.css");
h1 {
  font-family: $font-secondary;
  font-size: 2.2rem;
  font-weight: 400;
  color: black;
}

h2 {
  font-family: $font-primary;
  font-size: 1.8rem;
  font-weight: 400;
  color: black;
}

h3 {
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight: 400;
  color: black;
  font-size: 1.5rem;
}

h4 {
  font-family: $font-primary;
  text-transform: uppercase;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.5rem;
  opacity: 70%;

  strong {
    font-weight: 600;
  }
}

p {
  font-family: $font-primary;
  line-height: 1.5em;
  font-size: 1rem;
  color: black;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

@include respond-to(mobile) {
  h1 {
    font-size: 2em;
    h1 {
      margin: 0.6em;
    }
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }
}

@include respond-to(medium) {
  h1 {
    font-size: 2.2rem;
    h1 {
      margin: 0.6em;
    }
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }
}
