// _variables.scss

:root {
  background-color: #f6ece1;
  --image-border-radius: 1.4em;
}
body {
  margin: 0;
  width: 100%;
}
* {
  scroll-behavior: smooth;
}

$primary-color: #862b0d;
$secondary-color: #ccbb99;
$tertiary-color: #356d65;
$font-primary: "Jost", sans-serif;
$font-secondary: "Jomolhari", serif;

$border-radius: 23px;
$small-radius: 10px;

$center-margin: 0 auto;

// Grid breakpoints
$mobile: 768px;
