@import "./variables";
@import "./mixins";

//Work with Rose

h1 {
  text-align: center;
}

.intro {
  p {
    margin-bottom: 20px;
    text-align: center;
  }
}

.work-image-container {
  position: relative;
  overflow: hidden;
  z-index: 100;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    transition: filter 0.3s ease;
    border-radius: $border-radius;
  }

  &:hover img {
    filter: grayscale(100%);
  }

  .work-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: $border-radius;
    color: #ccbb99;
    opacity: 0;
    transition: opacity 0.3s ease;

    p {
      margin: 0;
      padding: 15px;
      color: white;
    }

    .work-overlay-svg {
      margin: 0;
      width: 100px;
    }
    @include respond-to(mobile) {
      display: none;
    }
  }

  &:hover .work-overlay {
    opacity: 1;
  }
}

.section-spacing {
  margin-top: 3.1em;
  margin-bottom: 3.1em;
}

@media (max-width: 768px) {
  .intro {
    margin-left: 10px;
    margin-right: 10px;
  }
}
