// _home.scss
@import "./variables";
@import "./mixins";

.Home {
  text-align: center;

  .home-header {
    margin: 0 auto;

    h1 {
      margin: 0.25em;
    }

    h3 {
      opacity: 70%;
      margin: 0;
      font-size: 1.25em;
    }
  }

  .hero-image-container {
    display: flex;
    background-size: cover;
    background-position: center;
    height: 28.13em;
    margin: 0.63em 21.88em;
    border-radius: $border-radius;

    @include respond-to(mobile) {
      display: none;
    }

    @include respond-to(medium) {
      display: none;
    }
  }

  .mobile-hero {
    display: none;
    background-size: cover;
    background-position: center;
    height: 28.13em;
    margin: 0.63em 21.88em;
    border-radius: $border-radius;
    background-image: url("../imgs/permanent/maze-hero.png");

    @include respond-to(mobile) {
      display: flex;
      height: 21.88em;
      margin: 0 0.63em;
    }

    @include respond-to(medium) {
      height: 40em;
      margin: 0 0.63em;
      display: block;
    }
  }

  .mobile-journey-container {
    display: none;
    background-image: url("../imgs/permanent/mobile-symbols.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
    margin-top: 2em;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;

    @include respond-to(mobile) {
      display: block;
    }
  }

  .blog-home {
    display: none;

    .column {
      width: 90vw;
      margin-bottom: 1.25em;
    }

    @include respond-to(mobile) {
      display: block;
      flex-direction: column;
      align-items: center;
      .column {
        width: 90vw;
        margin-bottom: 1.25em;
        margin: 0 auto;
      }
    }
  }
}
