.call-to-action {
  margin: 10px auto;
}

.journey-link {
  display: block;
  margin: 0 auto;
}

.approach-text {
  padding: 20px;
  text-align: left;
}

.player-wrapper {
  margin: 30px;
}

@media (max-width: 768px) {
  .work-cards {
    margin: 0px 20px;
  }
}
