.blog-page {
  text-align: left;
}

.blog-page a {
  text-decoration: none;
  color: white;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin: 50px auto;
  width: 100%;
  padding: 10px;
}

.blog-heading {
  text-align: left;
}

.blog-type-icon {
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.blog-type-icon-block {
  height: 40px;
  display: inline-block;
  padding-bottom: 20px; /* Ensure it layers correctly */
}

.blog-arrow-icon {
  height: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: transform 0.3s ease;
}

.blog-arrow-icon:hover {
  transform: scale(1.5);
}

.cover-post {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../styles/imgs/photos/beach-cove.png") center/cover;
  height: 500px;
  width: 95%;
  border-radius: 20px;
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  transition: transform 0.3s ease;
}

.cover-post:hover {
  transform: scale(1.01); /* Scale up by 5% on hover */
}

.cover-content {
  align-self: flex-start;
  max-width: 70%;
}

.cover-content h3 {
  color: white;
}

.date {
  opacity: 0.7;
}

.bottom-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 50px;
}

.bottom-grid button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Jost", sans-serif;
  color: white;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.bottom-grid button:hover {
  background-color: #f0f0f0;
  color: black;
}

.bottom-grid p {
  border-top: 2px solid white;
  margin-top: 10px;
  padding: 10px;
  line-height: 1.5;
}

.blog-block {
  position: relative;
  width: 90%;
  height: 400px;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.blog-block:hover {
  transform: scale(1.01); /* Scale up by 5% on hover */
}

.blog-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.description {
  display: block;
}

.overlay {
  position: relative;
  z-index: 1;
  text-align: left;
}

.overlay h3 {
  color: white;
}

.overlay p {
  border-top: 2px solid white;
  padding-top: 10px;
}

.block-header {
  margin: 80px 0 20px 0;
  padding-right: 40px;
}

.block-header h3,
.block-header h2,
.block-content p {
  margin: 0;
}

@media (max-width: 768px) {
  .blog-page {
    padding: 0;
  }

  .blog-heading {
    padding-left: 0;
    text-align: center;
  }

  .cover-post {
    height: 300px;
    width: 80%;
    padding: 30px;
    margin: 0 auto;
  }

  .description {
    display: none;
  }

  .blog-grid {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 10px auto;
    padding: 0px;
  }

  .blog-block {
    width: 90%;
    height: 200px;
    padding: 20px;
    margin: 0 auto;
  }

  .blog-type-icon-block {
    height: 50px;
    position: absolute;
    top: 20px;
    left: 0;
  }
}
