.Home {
  text-align: center;
}

.home-header {
  margin: 0 auto;
}

.home-header h1 {
  font-family: "Jomolhari", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 0 auto;
}

.home-header h3 {
  opacity: 70%;
  margin: 0;
  font-size: 20px;
}

.button-center {
  display: block;
  margin: 30px auto;
}

.hero-image-container {
  background-image: url("./imgs/permanent/maze-hero.png");
  background-size: cover;
  background-position: center;
  height: 450px;
  padding-left: 350px;
  margin: 10px 350px;
  border-radius: 23px;
  transition: opacity 1.5s ease, transform 3s ease-in-out;
  position: relative;
}

.desktop {
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .hero-image-container:hover {
    background-image: url("./imgs/permanent/hero-image-overlay.png");
    opacity: 0.7;
  }

  .hero-image-container:hover .button-overlay {
    opacity: 1;
  }
}

.button-overlay button {
  pointer-events: auto;
}

.blurry {
  filter: blur(10px);
}

.loaded {
  filter: blur(0);
}

.journey-container {
  background-image: url("./imgs/permanent/mobile-symbols.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mobile-home-container h3 {
  margin-top: 25px;
}

.mobile-home-container {
  width: 100vw;
}

.blog-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.blog-home .col-md-6 {
  width: 90vw;
  margin-bottom: 20px;
}

img.logo-mobile {
  height: 70px;
}

@media (max-width: 768px) {
  .container.Home {
    margin: 0 auto;
    padding-top: 0px;
  }
  .image-container-mobile {
    margin: 10px 10px;
  }
  .hero-image-container {
    height: 350px;
    margin: 0px;
    background-image: url("./imgs/permanent/maze-hero.png");
  }

  .button-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .start-journey-button {
    font-size: 20px;
    color: black;
    border: 2px solid black;
  }

  .mobile-header {
    padding: 0;
  }

  .mobile-header h3 {
    margin: 0;
  }

  .mobile-header h1 {
    margin-bottom: 10px;
  }

  .journey-container {
    width: 100vw;
    padding-bottom: 56.25vw;
  }

  .blog-home .col-md-6 {
    width: 90%;
    margin: 10px 2.5%;
  }
}
