// main.scss

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@import "partials/variables";
@import "partials/mixins";
@import "partials/reset";
@import "partials/typography";
@import "partials/buttons";
@import "partials/navbar";
@import "partials/about";
@import "partials/home";
@import "partials/approach";
@import "partials/layouts";
@import "partials/video-players";
@import "partials/work";
@import "partials/groups";
@import "partials/footer";
@import "partials/testimonies-carousel";
@import "partials/in-person";
@import "partials/one-to-one";
@import "partials/qualifications";
@import "partials/article";
