// _variables.scss

:root {
  background-color: #f6ece1;
}
body {
  margin: 0;
  width: 100%;
}
* {
  scroll-behavior: smooth;
}

$primary-color: #862b0d;
$secondary-color: #ccbb99;
$tertiary-color: #356d65;
$quaternary-color: #baca9e;
$font-primary: "Jost", sans-serif;
$font-secondary: "Jomolhari", serif;
$image-border-radius: 1.4em;

$border-radius: 1.4em;
$small-radius: 0.6em;
$default-border: 0.125em solid black;

$center-margin: 0 auto;

// Grid breakpoints
$mobile: 768px;
