.get-in-touch-btn {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.get-in-touch-btn img {
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.get-in-touch-btn:hover img {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .get-in-touch-btn {
    top: 10px;
    left: 20px;
  }

  .get-in-touch-btn img {
    width: 90px;
    height: 90px;
  }
}
