.MembershipPage {
  height: 100vh;
}

.membership-text {
  display: block;
  margin: 0 auto;
}

.MembershipPage img {
  height: 100px;
}

.current-deals {
  margin: 80px auto;
  display: block;
  padding: 20px;
  width: 70%;
  border: 1px solid black;
}

.MembershipPage .general-button {
  width: 70%;
  margin-top: 30px;
}

@media (min-width: 300px) {
  .current-deals {
    margin: 10px auto;
    display: block;
    padding: 20px;
    width: 70%;
    border: 1px solid black;
  }
}
